.App {

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h1{
  color:lemonchiffon;
  font-size: 7vh;
  margin: 2vw;
}

.main{
  color:lemonchiffon;
  font-size: 2.5vh;
  margin: 2vw;
}



#cloud-circle {
  width: 80vw;
  height: 30vh;
  margin-top: -40vh;
  border-radius: 50%;
  filter: url(#filter);
  box-shadow: 40vw 40vh 6vw 0vw #fff; /* Increase shadow offset */
  position: relative; /* Take the parent out of the document flow */
  z-index: -1;
  animation-name: slideLeft;
  animation-duration:35s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  
}
#cloud-circle2 {
  width: 80vw;
  height: 30vh;
  margin-top: -20vh;
  border-radius: 50%;
  filter: url(#filter);
  box-shadow: 40vw 40vh 6vw 0vw #fff; /* Increase shadow offset */
  position: relative; /* Take the parent out of the document flow */
  margin-left: 75vw;
  z-index: -1;
  animation-name: slideLeft2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  
}
@keyframes slideLeft{
  from{
      margin-left: -200vw;
    }
  
  to {
      margin-left: 90vw;
    
    }
}
@keyframes slideLeft2{
  from{
      margin-left: -120vw;
    }
  
  to {
      margin-left: 70vw;
    
    }
}
