.App {

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h1{
  color:lemonchiffon;
  font-size: 7vh;
  margin: 2vw;
}
body {
  
  background: rgb(99, 190, 243);
}

.main{
  color:lemonchiffon;
  font-size: 2.5vh;
  margin: 2vw;
}
