body {
    background: rgb(99, 190, 243);
}
.signup {

    font-family: monospace;
    font-size: 14pt;

}
.homepage{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: space-around;
}
login {

    font-family: monospace;
    font-size: 14pt; 
}
main {
    display: block;
    align-content: center; 
    margin: 5%;
    border:rgb(30, 127, 184) solid 5px;
    padding: 5%
}