.mainHood {
    text-align: center;
    padding: 3%;
    color:lemonchiffon;
    font-size: 5vw;

}
.list{
    margin: 5%;
    border:rgb(30, 127, 184) solid 5px;
    height: 20vh auto;
    width: 90vw;
}
.neighbor{
    color:rgb(255, 136, 0);
    text-align: left;
    font-size: 3vw;
    margin: 2vw;  
    display: inline-table;

}
.toolList{
    color: lightgrey;
    font-size: 3vw;
    margin: 1vw;  
}
.grassBackgroundHood{
    background: rgba(0, 128, 0);
    position:absolute;
    width: 100vw;
    height:19vh;
    bottom: 5vh;
    margin-left: -6vw;
    margin-bottom: -6vh;
    z-index: -1;
  }