.mainHood {
    text-align: center;
    padding: 3%;
    color:lemonchiffon;
    font-size: 5vw;

}
.list{
    margin: 5%;
    border:rgb(30, 127, 184) solid 5px;
    height: 20vh auto;
    width: 90vw;
}
.neighbor{
    color:rgb(255, 136, 0);
    text-align: left;
    font-size: 3vw;
    margin: 2vw;  
    display: inline-table;

}
.toolList{
    color: lightgrey;
    font-size: 3vw;
    margin: 1vw;
 

    
}
