.greet {
    text-align: center;
    align-items: center;
}

.shed {
    position: relative;
    margin-left: 10vw;
    background: gray;
    width: 70vw;
    height: 60vh;
    border: rgb(95, 48, 14) solid ;
    border-width: 20px 20px 0px 20px;
}
.lists {
    font-size: 3vw;
    margin:3vw;
    display: inline-block;
    align-content: space-around;
}
.create {
    background: green;
    position: absolute;
    text-align: center;
    display: inline-flex;
    align-items: center;
    align-content: space-between;
    font-size: 2.5vw;
    width: 100vw;
    margin-bottom: 0px;

    padding: 10px;
}

.createLocalhood {



}



#garagedoor li {
    background: darkblue;
    width: 70vw;
    height: 60vw;
    display: block;
    float:left;
    -webkit-transition: background-position 0.6s ease;
    -moz-transition: background-position 0.6s ease;
    -ms-transition: background-position 0.6s ease;
    -o-transition: background-position 0.6s ease;
    transition: background-position 0.6s ease;
  }
  
  #garagedoor li:hover {
    background-position: 0 -100px !important;
  }
